/* * {
    margin: 0px;
    padding: 0px;
} */

body{
    background-image: url('Todo-List2.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

h1 {
    font-size: 5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 40px;
}
input {
    border-radius: 9px;
    margin-bottom: 25px;
    font-size: 25px;
}
button {
    border-radius: 9px;
    font-size: 20px;
    background-color: rgb(255, 255, 0);
}

ul {
    font-size: 27px;
    color: rgb(83, 204, 164);
    border: 2px solid bisque;
    text-align: center;
    margin: 0px;
    margin-top: 25px;
    padding: 10px;
}
